// compileCompressed: ../css/style.min.css, compileNested: ../css/style.css, sourceMap: true

// IMPORT
@import "variables";
@import "mixin";

// GENERAL
body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

// FOOTER
#footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  height: 100px;
  font-size: 16px;
  color: $blue;
  background-color: transparent;
  text-align: center;
  span {
    padding-left: 70px;
  }
}

// NAVBAR
.nav {
  width: 106vh;
  height: 70px;
  position: fixed;
  z-index: 999;
  background: white;
  text-align: center;
  @include transform-origin (left, top);
  @include transform (-90deg, -100%);
}

ul#menu {
  list-style-type: none;
  .active {
    border-bottom: 3px solid $blue;
    a {
      color: $blue
    }
  }
  li {
    float: right;
    height: 100%;
    width: 25vh;
    line-height: 35px;
    padding-bottom: 15px;
    &:hover {
      @extend .active;
      border: none;
    }
    a {
      color: $grey;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}


// IMPORT MOBILE
@import "mobile";
