// compileCompressed: ../css/style.min.css, compileNested: ../css/style.css, sourceMap: true

// IMPORT
@import "variables";
@import "mixin";

// GENERAL
body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// FOOTER
#footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  height: 50px;
  font-size: 16px;
  color: $blue;
  background-color: transparent;
  text-align: center;
  span {
    padding-left: 70px;
  }
}

// NAVBAR
.nav {
  width: 106vh;
  height: 70px;
  position: fixed;
  z-index: 999;
  background: white;
  text-align: center;
  @include transform-origin (left, top);
  @include transform (-90deg, -100%);
}

ul#menu {
  list-style-type: none;
  .active {
    border-bottom: 3px solid $blue;
    a {
      color: $blue
    }
  }
  li {
    float: right;
    height: 100%;
    width: 25vh;
    line-height: 35px;
    padding-bottom: 15px;
    &:hover {
      @extend .active;
      border: none;
    }
    a {
      color: $grey;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

// HOME
#s-home {
  background: white url(../images/home-bg.png) right top no-repeat fixed;
}

.logo {
  margin-top: 50px;
}

.slogan {
  color: $orange;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  h2 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
  }
  h1 {
    @extend h2;
    margin-left: 75px;
    font-size: 150px;
    font-weight: 300;
    a {
      color: $orange;
    }
  }
}


// IMPORT MOBILE
@import "mobile";
